body{
    background-color: #0e1212;
    background-image: url("img/hatter.jpg");
    background-attachment:fixed;
    background-size:fill;
    background-size: 100%;
}
/*-----------------HEADER----------------*/
#container{
    background-color: rgb(54, 197, 233);
    margin: auto;
    margin-top: 2%;
    width: 80%;
    height: auto;
    text-align: center;
    border-radius: 5px;
}
#container a{
    transition: color .2s ease-out;
    color: rgb(5, 22, 77);
    font: 25px "Roboto Mono", monospace;
    text-decoration: none;
}
#container a:hover{
    cursor:pointer;
    transition: color .1s ease-out;
    color: rgb(32, 91, 179);
}
/*-----------------JATEK-----------------*/
#flotta{
    margin-top: 10%;
    height: auto;
    width: 70%;
    margin: auto;
    text-align: center;
}
#flotta table{
    margin: auto;
}
/*-------------------LEIRAS---------------------*/
#aiLeiras{
    margin-top: 8%;
    padding: 30px;
    color: whitesmoke;
    font: 25px "Roboto Mono", monospace;
    text-align: left;
    background-color: rgb(14, 49, 100);
    opacity: 80%;
    border-radius: 10px;
}
#aiLeiras ul{
    margin: 20px;
}
#aiLeiras li{
    margin: 10px;
}

/*------------------FOOTER-----------------------------*/
footer {
	background-color: #0005;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}