body{
    background-color: #0e1212;
    background-image: url("img/hatter.jpg");
    background-size:fill;
    background-size: 100%;
    background-attachment:fixed;
}
/*-----------------HEADER----------------*/
#container{
    background-color: rgb(85, 55, 55);
    margin: auto;
    margin-top: 2%;
    width: 80%;
    height: auto;
    text-align: center;
    border-radius: 5px;
}
#container a{
    transition: color .2s ease-out;
    color: whitesmoke;
    font: 25px "Roboto Mono", monospace;
    text-decoration: none;
}
#container a:hover{
    cursor:pointer;
    transition: color .1s ease-out;
    color: rgb(94, 90, 90);
}
/*-----------------JATEK-----------------*/
#flotta{
    margin-top: 10%;
    height: auto;
    width: 70%;
    margin: auto;
    text-align: center;
}
#flotta table{
    margin: auto;
}
#menu{
    color: whitesmoke;
    font: 25px "Roboto Mono", monospace;
}

